<div class="col-md-9">
<p>This is a e-commerce application which has some feautures like :</p>
<ul>
    <li>SImple Search</li>
    <li>Advanced Search</li>
    <li>Output of XML For Every Product</li>
    <li>Send an Email to Customer Whenever Thet Buy</li>
</ul>
</div>


