<% provide(:title, 'Login') %>
<div class="login topspace">
    <div class="row">
       <%= simple_form_for :session, :url => sessions_path, :html => {:class =>'form-horizontal'}  do |f| %>
       <%= f.input :email, :input_html => {:class => "form-control input-lg"}, :label => false, :placeholder => "Email" %>
       <%= f.input :password, :input_html => {:class => "form-control input-lg"}, :label => false, :placeholder => "Password" %>
       <div class="col-sm-2 col-sm-offset-7 btn-login">
              <button class="btn btn-lg btn-action" type="submit">Login</button>
       </div>
       <% end %>
   </div>
  </div>


