<h3>Spirit Application Order Confirmation</h3>
<h3>Dear <%= "#{@order.user.name}" %></h3>
<p>
Thank you for your recent order from The Spirit Application Store.
</p>
<table class = "table">
	<thead>
		<tr>
			<th>Quantity</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<%= render @order.line_items %>
		</tr>
	</tbody>
</table>
<p>We'll send you a separate e-mail when your order ships.</p>