<%= provide(:title, @user.name) %>
<div class="col-xs-8">
<h2 class="section-title"><span><%#= "Profile" %> </span></h2>

<table class = "table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @user.name %></td>
			<td><%= @user.email %></td>
		</tr>
	</tbody>
</table>
</div>