<% provide(:title, @user.name) %>
	<div class="topspace text-center">
		<h5><%= @user.email %></h5>
		<h6><%= @user.name %></h6>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum doloribus esse quidem voluptate ex libero qui, tempora alias, quis excepturi, consectetur fuga veniam fugiat dolores ipsum modi ad aliquam unde!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dignissimos, porro, vitae iure ut fugiat est nemo saepe culpa totam repellat accusamus illum quam aspernatur ipsam quaerat doloribus, obcaecati ipsa.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas molestiae, consequuntur quo qui exercitationem nisi quidem modi iure quisquam voluptatum praesentium sed illum, error dolorum harum porro, fugiat. Neque, facilis.</p>
	</div>