<div class="advance-search-form">
  <%= form_for  Search.new do |f|  %>
        <%= f.text_field :keywords, :class => "form-control input-sm",:placeholder => "Keywords" %>
        <%= f.text_field :max_price, :class => "form-control input-sm", :placeholder => "Max Price" %>
        <%= f.text_field :min_price, :class => "form-control input-sm", :placeholder => "Min Price" %>
        <button type="submit" class="btn btn-md btn-action btn-advance-search">Search</button>
  <% end %>
</div>

