  <div class="col-md-9">
        <article class="col-xs-12 maincontent">
         <div class="col-md-9 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <h3 class="text-left">Register a new customer</h3>
                                <br>
                                  <%= render 'form' %>
                                <br>
        </div>
      </article>
    </div>

