<%= form_for(Order.new) do |f| %>
    <%= f.hidden_field 'order_date' %>
    <%= f.hidden_field 'order_num' %>
    <button class="btn btn-md btn-action btn-order" type="submit">Order</button>
<% end %>
