<div id="accordion">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">  </a>
<div id="collapseOne" class = "collapse in" >
  <table class = "table">
    <tbody>
      <tr>
        <%= render(cart.line_items) %>
      </tr>
    </tbody>
  </table>
</div>
</div>

