<div id="accordion">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
    <%#= link_to '<i class = "fa fa-trash-o"></i>'.html_safe, cart, :method => :delete, :class => "pull-right" %>
  </a>
<div id="collapseOne" class = "collapse in" >
  <table class = "table">
    <tbody>
      <tr>
        <%= render(cart.line_items) %>
      </tr>
    </tbody>
  </table>
</div>
</div>

