@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($val) {
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
    -ms-box-shadow: $val;
        box-shadow: $val;
}

@mixin linkColor($color) {
     color: $color;

     &:hover, &:active, &:focus {
         color: lighten($color, 20%);
         text-decoration: none;
     }
}

@mixin text-shadow($val) {
  -webkit-text-shadow: $val;
  -moz-text-shadow: $val;
    -ms-text-shadow: $val;
        text-shadow: $val;
}

@mixin transition($val) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -ms-transition: $val; /* IE10 is actually unprefixed */
  -o-transition: $val;
  transition: $val;
}

@font-face {
  font-family: "Comfortaa-Regular";
  src: url("Comfortaa-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Znikomit";
  src: url("Znikomit.otf");
}

@font-face {
  font-family: "Street Stencil";
  src: url("Street Stencil.ttf");
}

@font-face {
  font-family: "lion_king";
  src: url("lion_king.ttf");
}

@font-face {
  font-family: "abeatbyKaiRegular";
  src: url("abeatbyKaiRegular.otf");
}

@font-face {
  font-family: "Arenq";
  src: url("Arenq.otf");
}

@font-face {
  font-family: "c39hrp48dhtt";
  src: url("c39hrp48dhtt.ttf");
}

@font-face {
  font-family: "BlackJeans";
  src: url("BlackJeans.ttf");
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: url("Comfortaa-Bold.ttf");
}











