@import 'mixin';

html {
  font-size: 100%;
  @include text-shadow(1px 1px #000);
}
body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  color: #666666;
  background: image-url("bg-main.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
}

.topspace {
  margin-top: 140px;
}

.topspace-lg {
  margin-top: 180px;
}

/*********************************************************************
                                                 TYPOGRAPHY
**********************************************************************/
p {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #999;
}
h1 {
  font-size: 40px;
  font-size: 2.5rem;
}
h2 {
  font-size: 36px;
  font-size: 2.25rem;
}
h3 {
  font-size: 30px;
  font-size: 1.875rem;
}
h4 {
  font-size: 24px;
  font-size: 1.5rem;
}
h5 {
  font-size: 19px;
  font-family: "Takecover", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
h6 {
  font-family: "Znikomit", "EB Garamond", Helvetica, Arial;
  font-size: 12px;
  color : #FFC222;
  font-weight: 700;
}

a {
  @include linkColor(#bd1550);
}

.lead {
  font-weight: 300;
  font-size: 21px;
  font-size: 1.3125rem;
}
.text-msg {
  line-height: 1.7em;
  color: #b3b3b3;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

/*********************************************************************
                                                       HEADER
**********************************************************************/
.home #head {
  padding: 90px 0;
}
.home #head .title {
  font-size: 49px;
  font-size: 3.0625rem;
}
.home #head .tagline {
  font-size: 16px;
  font-size: 1rem;
  margin: 15px 0 0;
}
@media (max-width: 767px) {
  #head { min-height:420px; padding-top:160px; }
  #head .lead { font-size: 34px; }
}
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out;
            -moz-transition: all 0.4s ease-out;
            -o-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out; }

/*********************************************************************
                                                      NAVBAR
**********************************************************************/
.navbar-one {
  right: 70px;
  top: 30px;
}

.navbar-two {
  top: 65px;
}
.navbar , .navbar-default{
  min-height: 0;
  margin-bottom: 0;
  width: 100%;
  background: transparent;
  border : none;
}
ul.nav.navbar-nav {
  margin-left: 70px;
}
li.navbar-right.dropdown {
  margin-right: 70px;
}

.navbar-collapse {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: "abeatbyKaiRegular", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.navbar-collapse .navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.navbar-collapse .navbar-nav > li {
  float: none;
  display: inline-block;
}
.navbar-collapse .navbar-nav > li > a {
  padding: 8px 10px;
}
.dropdown ul.dropdown-menu {
  top: 85%;
  text-align: left;
}

.dropdown ul.dropdown-menu.item {
  right: -5px;
  width: 500px;
  font-size: 12px;

  .table > tbody > tr > td {
    border-top: none;
    padding: 3px 5px;
  }

  .table {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .empty-link {
    font-family: "Takecover", Helvetica, arial;
    font-size: 14px;
    margin-left: 145px;
    margin-right: 50px;
    @include linkColor(#bd1550);
  }

  .checkout-link {
    font-family: "Takecover", Helvetica, arial;
    font-size: 14px;
    @include linkColor(#FFC222);
  }
}

.dropdown ul.dropdown-menu.account {
  right: 10px;
  font-size: 14px;
  top: 20px;
  min-width: 10px;
  }

.dropdown ul.dropdown-menu > li > a {
  padding: 5px 15px;
}

.navbar-default .navbar-nav > li > a {
  @include linkColor(#FFC222);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: transparent;
}

.navbar-default .dropdown ul.dropdown-menu {
  @include linkColor(#FFC222);
  background-color: #111;
  margin: 10px 0;
  @include border-radius(5px);

}

.navbar-default .dropdown ul.dropdown-menu > li > a {
    @include linkColor(#FFC222);
    background-color: #111;
}

.navbar-default .dropdown ul.dropdown-menu > li > a:hover {
  background-color: #111;
  //color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #ff0000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  //background-color: #008000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #0000ff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cccccc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  @include linkColor(#FFC222)
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 150px;
    margin-top: -15px;
    font-size: 40px;
    font-family: "lion_king";
    color: #999;
    @include text-shadow(3px 3px #000);

}



/***********************************************************************
                                     Sidebar special Nav
*****************************************************************************************/
.nav-side {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: -0.37em;
}
.nav-side > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #f392b4;
}
.nav-side > li > a:hover {
  color: #bd1550;
  background: none;
}
.nav-side > li.active > a {
  color: #bd1550;
}
/*********************************************************************
                                CONTENT
**********************************************************************/
img {
  max-width: 100%;
}

.btn {
  font-size: 12px;
  font-size: 0.75rem;
  text-decoration: none;
  font-weight: 300;
  font-family: "Comfortaa-Regular", Helvetica, Arial, sans-serif;
  color: #999;
  margin-top: 20px;
  @include border-radius(0);
  @include box-shadow(0 0 0 1000px rgba(0,0,0,0.9) inset);
  background-clip: padding-box;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: none;
  border-bottom: 1px solid #111;

  padding: 12px 35px;
}

.btn-action {
  background: transparent!important;
  &:focus, &:hover , &:active {
    color: #EEC222;
    border-color: #EEC222;
  }
}

.btn-lg {
  padding: 8px 25px;
  font-size: 13px;
  line-height: 1.33;
}

.btn-md{
  padding: 4px 14px;
  font-size: 12px;
}

.btn-sm {
  padding: 4px 12px;
  font-size: 10px;
  font-weight: 400;
}

.btn-login {
  left: 40px;
}

.btn-register {
  left: 30px;
}

.btn-customer-create {
  left: 40px;
}

.panel-cta {
  box-shadow: 0 0 0 1px #e1e1e1, 0 0 0 3px #fff, 0 0 0 4px #e1e1e1;
  background: #f3f3f3;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.panel-cta p,
.panel-cta h3,
.panel-cta h4,
.panel-cta h5,
.panel-cta h6 {
  margin: 0;
}
.panel-cta .panel-body {
  padding: 35px;
}
/* Section - Featured */
.featured {
  font-size: 13px;
  font-size: 0.8125rem;
}
.featured h3 {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.4em;
  vertical-align: middle;
  margin: 0 0 25px 0;
}

/*********************************************************************
                                 BLOG
**********************************************************************/
.section-title,
.entry-title {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0px 0 25px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 24px;
}
.section-title a,
.entry-title a {
  color: #333333;
}
.section-title span,
.entry-title span {
  display: inline-block;
  position: relative;
}
.section-title span:before,
.entry-title span:before,
.section-title span:after,
.entry-title span:after {
  content: "";
  position: absolute;
  height: 4px;
  top: .53em;
  width: 400%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.section-title span:before,
.entry-title span:before {
  right: 100%;
  margin-right: 45px;
}
.section-title span:after,
.entry-title span:after {
  left: 100%;
  margin-left: 45px;
}
.entry-header .entry-meta {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: normal;
  color: #a5a5a5;
  margin: 0 0 15px 0;
}
.entry-header .entry-meta a {
  color: #a5a5a5;
}
.entry-content {
  margin: 0 0 60px 0;
}
.entry-content h2 {
  line-height: 1.2;
  font-size: 30px;
  font-size: 1.875rem;
  padding-top: 20px;
  margin-bottom: 20px;
}
.meta-nav,
.more-link {
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}
.meta-nav:hover,
.more-link:hover {
  color: #333333;
  text-decoration: underline;
}
.more-link {
  display: block;
  width: 100%;
  text-align: right;
}
/* Posts navigation */
#nav-below {
  position: fixed;
  top: 48%;
}
#nav-below .meta-nav {
  display: block;
  padding: 27px 7px;
  background: #444;
  color: #fff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  opacity: 0.2;
}
#nav-below .meta-nav:hover {
  text-decoration: none;
  color: #333;
}
#nav-below .nav-next {
  position: fixed;
  right: -3px;
}
#nav-below .nav-previous {
  position: fixed;
  left: -3px;
}
#nav-below b {
  display: none;
}
footer.entry-meta {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 35px 0;
  padding: 2px 0;
  color: #888888;
  font-size: 12px;
  font-size: 0.75rem;
}
footer.entry-meta a {
  color: #333333;
}
footer.entry-meta .meta-in {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
  text-align: left;
}
.page-header .page-title {
  margin-top: 0;
  margin-bottom: 30px;
}
/*********************************************************************
                                COMMENTS
**********************************************************************/
#comments {
  font-size: 13px;
  font-size: 0.8125rem;
}
#comments .comments-title {
  margin: 0 0 5px 0;
}
#comments .leave-comment {
  display: block;
  margin: 0 0 40px 0;
}
#comments ul,
#comments ol {
  margin: 0;
  padding: 0;
}
#comments .comment {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}
#comments .comments-title {
  text-shadow: none;
  margin-bottom: 0;
}
#comments .avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  border: 5px solid #eeeeee;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
#comments .children {
  margin: 0 0 0 90px;
}
#comments .comment-meta {
  margin: 0 0 0 90px;
}
#comments .comment-meta a {
  color: #333333;
}
#comments .comment-meta a:hover {
  color: #bd1550;
}
#comments .comment-meta .author {
  margin: 0 20px 0 0;
  font-weight: bold;
}
#comments .comment-meta .date {
  margin: 0 20px 0 0;
}
#comments .comment-meta .date a {
  color: #666666;
}
#comments .comment-meta .reply {
  float: right;
}
#comments .comment-body {
  margin: 0 0 35px 90px;
}
.comment-navigation {
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 2px 0 0 0;
}
.comment-navigation .nav-content {
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 10px 0 0 0;
}
.comment-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next {
  float: right;
  width: 50%;
  text-align: right;
}
#respond {
  margin: 55px 0 0 0;
}
/*********************************************************************
                                FOOTER
**********************************************************************/
#footer {
  background: image-url("footer-bg-bottom.jpg") no-repeat scroll center top transparent;
  padding: 30px 0 0 0;
  font-size: 12px;
  color: #999;
  margin-top: 133px;
  min-height: 340px;
}
#footer a {
  color: #ccc;
}
#footer a:hover {
  color: #fff;
}
#footer h3.widget-title {
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #ccc;
  margin: 0 0 20px;
}

.follow-me-icons {
  font-size: 30px;
}
.follow-me-icons i {
  float: left;
  margin: 0 10px 0 0;
}

.product-element  ul > li {
  display: inline-block;
  left: 125px;
  margin-bottom: 30px;
  }

  span.cover {
    transition: all 1s;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    line-height: 32px;
    font-size: 12px;
    font-size: 0.75rem;
    color: white;
    opacity :0;
      &:hover {
      opacity: 1;
      background-color: rgba(0, 0,0, 0.8);
    }
   }
  span.add {
    position:absolute;
    top: 75px;
    left: 270px;

    a {
      font-family:  "Takecover", Helvetica, Arial, sans-serif;
      font-size: 18px;
      @include linkColor(#FFC222);
      }
}

span.detail {
  position:absolute;
  top: 75px;
  right: 280px;

    a {
      font-family:  "Takecover", Helvetica, Arial, sans-serif;
      font-size: 18px;
      @include linkColor(#FFC222);
      }
}

span.product-item {
  font-family:  "abeatbyKaiRegular", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #FFC222;
  position:absolute;
  top: 0;
  right: 10px;

  .dropdown-menu {
    margin-top: -5px;
  }

  ul.dropdown-menu {
    background-color: #111;
    min-width: 0;
    text-align: center;
  }

  ul.dropdown-menu > li > a {
    background-color: #111;
    padding:0;
    }

    ul.dropdown-menu > li {
      margin: 0;
    }
  }

span.price {
  font-family: "Takecover", Helvetica, Arial, sans-serif;
  position:absolute;
  text-align : center;
  left: 30px;
  bottom: 25px;
  padding: 1px 5px;
  font-size: 16px;
  color: #999;
  }

  .img-thumbnail {
    border-radius:3px;
    margin-bottom: 40px;
    font-family: "TopSecret", Helvetica, Arial, sans-serif;

  }
.widget span {
  font-family: "Open sans";
  font-size:12px;
}


.search form {
  position: absolute;
  display: inline-block;
  z-index: 1;
  left: 270px;
  bottom: 35px;
  width: 283px;

}

.search input {
  background: transparent;
  color: #999;
  display: block;
  float: left;
  font-family: "abeatbyKaiRegular","EB Garamond", arial;
  font-size: 12px;
  font-weight: 400;
  &:focus {
    @include box-shadow(0 0 0 1000px #111 inset);
  }
}

.ie .search input {
    line-height: 40px;
}

.search input::-webkit-input-placeholder {
   color: #999;
}

.search input:-moz-placeholder {
   color: #999;
}

.alert {
  padding: 0.22em;
  margin-bottom: -100px;
  margin-top: 72px;
  margin-left: 80px;
  width: 86%;
  background: transparent;
  border: none;
  font-family: "Takecover", Helvetica, arial;
  .close {
    color : #fff;
    font-family: Helvetica, arial;
    margin-top: -4px;
  }
}

.form-group {
  margin-bottom: 0;
}

.form-control {
  border: none;
  background : transparent;
  color:#fff;
  font-size: 12px;
  font-weight: 300;
  font-family: "Comfortaa-Regular",courier,monospace;
  border-bottom: 1px solid #111;
  @include box-shadow(0 0 0 1000px rgba(0,0,0,0.6) inset);
  @include border-radius(0);

  &:focus{
      @include box-shadow(0 0 0 1000px #111 inset);
      border-bottom: 1px solid #FFC222;
      }
}

 .form-control::-webkit-input-placeholder { color: #999; }

 .form-control::-moz-placeholder { color : #999;}

 .has-error  .form-control{
    &:focus {
      @include box-shadow(0 0 0 1000px #111 inset);
    }
}

.select {
  option {
  background: #111;
  color: #999;

}
}
.help-block {
  font-family: "Comfortaa-Regular",courier,monospace;
  font-size: 12px;
  margin-left: 15px;
}

 .user, .customer {
  margin-left: 230px;
 }

 .login {
  margin-left: 225px;
 }

 ul.users  > li {
  display: inline-block;
  left: 100px;
 }










