@import 'mixin';

html {
  font-size: 100%;
  @include text-shadow(1px 1px #000);
}
body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  color: #666666;
  background: image-url("bg-main.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
}

.topspace {
  margin-top: 140px;
}

.topspace-lg {
  margin-top: 180px;
}

/*********************************************************************
                                                 TYPOGRAPHY
**********************************************************************/
p {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #FFC222;
}
h1 {
  font-size: 40px;
  font-size: 2.5rem;
}
h2 {
  font-size: 36px;
  font-size: 2.25rem;
}
h3 {
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "Comfortaa-Bold", "EB Garamond", Helvetica, Arial;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "Comfortaa-Bold", "EB Garamond", Helvetica, Arial;
  font-weight: 700;
}
h5 {
  font-size: 14px;
  font-family: "Arenq", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
h6 {
  font-family: "Znikomit", "EB Garamond", Helvetica, Arial;
  font-size: 12px;
  color : #999;
  font-weight: 700;
}

a {
  @include linkColor(#bd1550);
}

/*********************************************************************
                                                       HEADER
**********************************************************************/
.home #head {
  padding: 90px 0;
}
.home #head .title {
  font-size: 49px;
  font-size: 3.0625rem;
}
.home #head .tagline {
  font-size: 16px;
  font-size: 1rem;
  margin: 15px 0 0;
}
@media (max-width: 767px) {
  #head { min-height:420px; padding-top:160px; }
  #head .lead { font-size: 34px; }
}
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out;
            -moz-transition: all 0.4s ease-out;
            -o-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out; }

/*********************************************************************
                                                      NAVBAR
**********************************************************************/
.navbar-one {
  right: 70px;
  top: 30px;
}

.navbar-two {
  top: 65px;
}
.navbar , .navbar-default{
  min-height: 0;
  margin-bottom: 0;
  width: 100%;
  background: transparent;
  border : none;
}
ul.nav.navbar-nav {
  margin-left: 70px;
}
li.navbar-right.dropdown {
  margin-right: 70px;
}

.navbar-collapse {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: "abeatbyKaiRegular", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.navbar-collapse .navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.navbar-collapse .navbar-nav > li {
  float: none;
  display: inline-block;
}
.navbar-collapse .navbar-nav > li > a {
  padding: 8px 10px;
}
.dropdown ul.dropdown-menu {
  top: 85%;
  text-align: left;
}

.dropdown ul.dropdown-menu.item {
  right: -5px;
  width: 500px;
  font-size: 12px;

  .table > tbody > tr > td {
    border-top: none;
    padding: 3px 5px;
    @include linkColor(#FFC222);
  }

  .table {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .empty-link {
    font-family: "Street Stencil", Helvetica, arial;
    font-size: 16px;
    margin-left: 145px;
    margin-right: 50px;
    @include linkColor(#bd1550);
  }

  .checkout-link {
    font-family: "Street Stencil", Helvetica, arial;
    font-size: 16px;
    @include linkColor(#FFC222);
  }
}

.dropdown ul.dropdown-menu > li > a {
  padding: 5px 15px;
}

.navbar-default .navbar-nav > li > a {
  @include linkColor(#FFC222);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: rgba(0,0,0,0.4);
  @include border-radius(50px);

}

.navbar-default .dropdown ul.dropdown-menu {
  background-color: #111;
  margin: 10px 0;
  @include border-radius(5px);

}

.navbar-default .dropdown ul.dropdown-menu > li > a {
    @include linkColor(#FFC222);
    background-color: #111;
}

.navbar-default .dropdown ul.dropdown-menu > li > a:hover {
  background-color: #111;
}
.navbar-default .navbar-toggle {
  border-color: #ff0000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #0000ff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cccccc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  @include linkColor(#FFC222)
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 150px;
    margin-top: -15px;
    font-size: 40px;
    font-family: "lion_king";
    color: #999;
    @include text-shadow(3px 3px #000);

}

/*********************************************************************
                                CONTENT
**********************************************************************/
img {
  max-width: 100%;
}

.btn {
  font-size: 12px;
  font-size: 0.75rem;
  text-decoration: none;
  font-weight: 300;
  font-family: "Comfortaa-Regular", Helvetica, Arial, sans-serif;
  color: #999;
  margin-top: 20px;
  background-clip: padding-box;
  @include border-radius(0);
  @include box-shadow(0 0 0 1000px rgba(0,0,0,0.9) inset);
  @include transition(all 0.2s ease-out);
  border: none;
  border-bottom: 1px solid #111;
  padding: 12px 35px;
}

.btn-action {
  background: transparent!important;
  &:focus, &:hover , &:active {
    color: #EEC222;
    border-color: #EEC222;
  }
}

.btn-lg {
  padding: 8px 25px;
  font-size: 13px;
  line-height: 1.33;
}

.btn-md{
  padding: 4px 14px;
  font-size: 12px;
}

.btn-sm {
  padding: 4px 12px;
  font-size: 10px;
  font-weight: 400;
}

.btn-login {
  left: 50px;
}

.btn-register {
  left: 30px;
}

.btn-customer-create {
  left: 40px;
}


/*********************************************************************
                                FOOTER
**********************************************************************/
#footer {
  background: image-url("footer-bg-bottom.jpg") no-repeat scroll center top transparent;
  @include text-shadow(1px 1px #FFC222);
  font-family: "Comfortaa-Bold", Helvetica, Arial, sans-serif;
  padding: 60px 0 0 0;
  margin-top: 40px;
  font-size: 12px;
  color: #999;
  min-height: 300px;

  a {
    @include linkColor(#363F45);
    }

  p {
    color: #011C26;
  }
}

  .follow-me-icons {
    font-size: 25px;
    i {
      margin-left: 10px;
    }
}

.footer-right {
  margin-left: 130px;
}

.product-element  ul > li {
  display: inline-block;
  left: 125px;
  margin-bottom: 30px;
  }

  span.cover {
    transition: all 1s;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    line-height: 32px;
    font-size: 12px;
    font-size: 0.75rem;
    color: white;
    opacity :0;
      &:hover {
      opacity: 1;
      background-color: rgba(0, 0,0, 0.8);
    }
   }
  span.add {
    position:absolute;
    top: 75px;
    left: 250px;

    a {
      font-family:  "Street Stencil", Helvetica, Arial, sans-serif;
      font-size: 18px;
      @include linkColor(#FFC222);
      }
}

span.detail {
  position:absolute;
  top: 75px;
  right: 250px;

    a {
      font-family:  "Street Stencil", Helvetica, Arial, sans-serif;
      font-size: 18px;
      @include linkColor(#FFC222);
      }
}

span.product-item {
  font-family:  "abeatbyKaiRegular", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #FFC222;
  position:absolute;
  top: 0;
  right: 10px;

  .dropdown-menu {
    margin-top: -5px;
  }

  ul.dropdown-menu {
    background-color: #111;
    min-width: 0;
    text-align: center;
  }

  ul.dropdown-menu > li > a {
    background-color: #111;
    padding:0;
    }

    ul.dropdown-menu > li {
      margin: 0;
    }

  }

span.price {
  font-family: "c39hrp48dhtt", Helvetica, Arial, sans-serif;
  position:absolute;
  text-align : center;
  left: 25px;
  bottom: 25px;
  padding: 1px 5px;
  font-size: 40px;
  color: #999;
  font-weight: 400;
  letter-spacing: 1px;

  .fa-eur {
    position:absolute;
    font-size: 9px;
    margin-top: 41px;
    margin-left: -6px;
 }
  }

  .img-thumbnail {
    border-radius:3px;
    margin-bottom: 40px;
    font-family: "TopSecret", Helvetica, Arial, sans-serif;

  }

.search form {
  position: absolute;
  display: inline-block;
  z-index: 1;
  left: 270px;
  bottom: 35px;
  width: 283px;

}

.search input {
  background: transparent;
  color: #999;
  display: block;
  float: left;
  font-family: "abeatbyKaiRegular","EB Garamond", arial;
  font-size: 12px;
  font-weight: 400;
  &:focus {
    @include box-shadow(0 0 0 1000px #111 inset);
  }
}

.ie .search input {
    line-height: 40px;
}

.search input::-webkit-input-placeholder {
   color: #999;
}

.search input:-moz-placeholder {
   color: #999;
}

.alert {
  padding: 0.16em;
  margin-bottom: -100px;
  margin-top: 72px;
  margin-left: 80px;
  width: 86%;
  background: transparent;
  border: none;
  font-family: "Street Stencil", Helvetica, arial;
  font-size: 16px;
  .close {
    color : #fff;
    font-family: Helvetica, arial;
    margin-top: -4px;
  }
}

.form-group {
  margin-bottom: 0;
}

.form-control {
  border: none;
  background : transparent;
  color:#fff;
  font-size: 12px;
  font-weight: 300;
  font-family: "Comfortaa-Regular",courier,monospace;
  border-bottom: 1px solid #111;
  @include box-shadow(0 0 0 1000px rgba(0,0,0,0.6) inset);
  @include border-radius(0);

  &:focus{
      @include box-shadow(0 0 0 1000px #111 inset);
      border-bottom: 1px solid #FFC222;
      }
}

 .form-control::-webkit-input-placeholder { color: #999; }

 .form-control::-moz-placeholder { color : #999;}

 .has-error  .form-control{
    &:focus {
      @include box-shadow(0 0 0 1000px #111 inset);
    }
}

.select {
  option {
    background: #111;
    color: #999;
    padding: 4px 15px;

}
}
.help-block {
  font-family: "Comfortaa-Regular",courier,monospace;
  font-size: 12px;
  margin-left: 15px;
}

 .user, .customer {
  margin-left: 230px;
 }

 .login {
  margin-left: 225px;
 }

 ul.users  > li {
  display: inline-block;
  left: 100px;
 }

 #modal-window {
  background-color: rgba(0,0,0,0.8);

    span.price-modal {
      font-family: "c39hrp48dhtt", Helvetica, Arial, sans-serif;
      position:absolute;
      left: 30px;
      bottom: 20px;
      padding: 1px 5px;
      font-size: 35px;
      color: #999;
      font-weight: 400;
      letter-spacing: 1px;

      .fa-eur {
        position:absolute;
        font-size: 9px;
        margin-top: 35px;
        margin-left: -6px;
       }
      }

     span.add-modal {
      position:absolute;
      right: 23px;
      bottom: 10px;
       a {
      font-family:  "Comfortaa-Regular", Helvetica, Arial, sans-serif;
      }
  }
}

.modal-dialog {
  .close {
    font-size: 20px;
    color: #fff;
  }
}

.modal-body, .modal-header, .modal-footer {
  background-color: #111;
  border-top:none;
  border-bottom:none;
}

body.modal-open {
overflow-y:visible;
margin-right: -13px;
 }

.pagination  {
  a {
    font-size: 12px;
    font-family: "Znikomit",Georgia, serif;
    font-weight: 700;
    @include linkColor(#FFC222);
    text-transform: uppercase;
  }

  .previous_page {
    margin-left:140px;
    margin-right: 705px;
  }



}














