<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
<td><%= line_item.quantity %></td> 
<td><%= line_item.product.title %></td>
<td><%= number_to_currency(line_item.total_price) %></td>
<td ><%= link_to '<i class = "fa fa-trash-o"></i>'.html_safe, line_item, :method => :delete,  :remote => true %></td>
</tr>
